$primary-color-dark: #00405e;
$primary-color: #1b3aa1; //Основная тема
$pr-color: "1b3aa1"; //Для стрелок слайдера
$primary-color-light: #BBDEFB;
$primary-color-text: #FFFFFF; //Белый
$accent-color: #607D8B;
$primary-text-color: #212121; //Почти черный
$secondary-text-color: #777777; //Серый
$divider-color: #EEEEEE; //Светло серый
$prev-icon: "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23#{$pr-color}' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E";
$next-icon: "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23#{$pr-color}' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E";

body {
	/*Основные*/
	background-color: $divider-color;
	color: $secondary-text-color;

	.container {
		padding: 0;
	}

	.primary-color {
		color: $primary-color;
	}

	.row {
		padding-bottom: 30px;
	}

	.text-bold {
		font-weight: bold;
		color: $secondary-text-color;
	}

	.heading-h4 {
		font-weight: bold;
		color: $secondary-text-color;
		margin: 40px 0px;
	}

	.btn {
		/*Кнопки обычные*/
		border: 2px solid $primary-color;
		background: transparent;
		color: $primary-color;
		border-radius: 0px;

		&:hover {
			background: $primary-color;
			color: $primary-color-text;
		}
	}

	.btn-inverse {
		/*Кнопки инверсные*/
		border: 2px solid $primary-color;
		background: $primary-color;
		color: $primary-color-text;
		border-radius: 0px;

		&:hover {
			opacity: .8;
		}
	}

	.navbar {
		/*Меню*/
		padding: 3px 50px;
		border: 1px solid $primary-text-color;

		.number-phone {
			color: $primary-color;
		}

		.navbar-nav {
			li.active {
				>a.nav-link {
					color: $primary-color;
				}
			}

			li.nav-item {
				>a.nav-link {
					color: $primary-text-color;

					&:hover {
						color: $primary-color;
					}
				}
			}
		}
	}

	header {
		/*Шапка*/
		background-image: url('../img/header.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 563px;

		p {
			color: $secondary-text-color;
		}

		.row {
			min-height: 500px;
		}

		.recall {
			border: double 10px $primary-color-text;

			div {
				background: $primary-color-text;
				padding: 20px;
			}

			span {
				color: $primary-color;
				font-weight: bold;
				font-size: 14px;
			}

			input {
				width: 100%;
				padding: 10px;
			}
		}

		.header-text {
			font-weight: bold;
			color: $secondary-text-color;

			>span {
				color: $primary-color
			}
		}
	}

	.adv {
		.row {
			padding-top: 30px;
		}

		h6 {
			font-weight: bold;
		}

		p.sm-text {
			font-size: 12px;
		}

		img {
			margin-bottom: 15px;

			&:hover {
			-webkit-transform: scale(1.2);
			-ms-transform: scale(1.2);
			transform: scale(1.2);
			}
		}

		position: relative;
		background: url('..//img/adv.jpg') center center no-repeat;
		background-size: cover;
		min-height: 350px;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-image: linear-gradient(left, $primary-color-dark 0%, $primary-color 50%, #eee 100%);
			opacity: .6;
		}
	}

	.popcat,
	.popgoods,
	.reviews {
		/* Популярные категории и товары*/
		background-image: url(../img/background.jpg);
		padding-bottom: 20px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	.popcat {

		/*Популярные категории*/
		p.popCatText {
			/* display: none; */
			font-weight: bold;
			color: $primary-color-text;
			position: absolute;
			font-size: 1rem;
			top: 40%;
			left: 10%;
			right: 10%;
		}

		a.linkPopCat {
			img {
				filter: brightness(30%);
				transition: .3s ease-in-out;
			}

			&:hover {
				img {
					filter: brightness(60%);
				}
			}
		}
	}

	.title {
		/*Линии возле заголовка*/
		overflow: hidden;
		text-align: center;

		.heading-h4 {
			display: inline-block;
			vertical-align: middle;
		}

		&:before,
		&:after {
			content: "";
			display: inline-block;
			vertical-align: middle;
			width: 20%;
			height: 9px;
			background-color: $primary-color;
			position: relative;
			opacity: .5;
		}

		&:before {
			margin-left: -100%;
			left: -14px;
		}

		&:after {
			margin-right: -100%;
			right: -14px;
		}
	}

	.form_zamer {
		// Закажите замер
		position: relative;
		background: url('../img/fiedback.png') center center no-repeat;
		background-size: cover;
		min-height: 350px;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-image: linear-gradient(left, $primary-color-dark 0%, $primary-color 55%, white 100%);
			opacity: .6;
		}

		.row {
			padding-top: 30px;
		}

		p.sm-text {
			font-size: 12px;
		}

		img {
			margin-bottom: 15px;
		}

		input {
			width: 100%;
			padding: 10px;
			color: white;
			background: transparent;
			border: 2px solid white;
		}

		input::-webkit-input-placeholder {
			color: white;
		}

		input::-moz-placeholder {
			color: white;
		}

		input:-moz-placeholder {
			color: white;
		}

		input:-ms-input-placeholder {
			color: white;
		}

		button {
			color: white;
			border: 2px solid white;
			padding: 10px;
		}
	}

	.reviews {
		// Отзывы
		min-height: 450px;

		.row {
			padding-bottom: 0;
		}

		.carousel-control-prev-icon {
			background-image: url($prev-icon) !important;
		}

		.carousel-control-next-icon {
			background-image: url($next-icon) !important;
		}
	}

	footer {
		// Футер
		border: 1px solid $primary-text-color;
		color: black;

		.row {
			padding-bottom: 0;
		}

		menu.nav {
			a.active {
				color: $primary-color;
			}

			a {
				color: $primary-text-color;

				&:hover {
					color: $primary-color;
				}
			}
		}
	}
}